.header {
  overflow: hidden;
  background-color: #f1f1f1;
  background-image: url("Images/bg_pic.jpg");
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 200px;
}
.header-tittle {
  border: 5px;
  border-radius: 15px;
  color: white;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  font-family: Cabin, "Helvetica Neue";
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 80px;
  margin-left: 80px;
  /* word-break: break-all; */
}
.header img {
  width: 60px;
}
.header a {
  float: center;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  color: cyan;
}
.header-center {
  float: center;
}
.player-summary {
  background-image: linear-gradient(to right, rgb(186, 218, 241) , rgb(0, 174, 255));
}
.player-summary img {
  width: 200px;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 5px;
  background-color: #f1f1f1;
  margin-bottom: 15px;
  margin-left: 80px;
  /* margin-right: 15px; */
}
table, th, td {
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: lightgrey;
}
.Personal {
  background-image: linear-gradient(to right, lightgray , gray);
}
.Batting {
  background-image: linear-gradient(to right, rgb(186, 218, 241) , rgb(0, 174, 255));
}
.Fielding {
  background-image: linear-gradient(to right, lightgray , gray);
}
.Running {
  background-color: rgb(69, 4, 30);
}
.Career-Injury-Report {
  background-image: linear-gradient(to right, lightgray , gray);
}
.footer {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  width: 100%;
  height: 200px;
}
.footer a {
  float: center;
  color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.footer a:hover {
  color: cyan;
}
.footer-center {
  float: center;
}

